.container-md{
	margin-top:100px;
}
.register{
	border:1px solid black;
	padding :30px;
	width:43Opx;
	display:inline-block;
	
}
.login{
	border:1px solid black;
	padding :30px;
	width:450px;
	display:inline-block;
	vertical-align:top;
	padding:80px;
	margin-left:60px;
	
}
.comment{
	float: right;
}
.text{
	textarea {
    overflow-y: scroll;
    height: 100px;
    resize: none; /* Remove this if you want the user to resize the textarea */
}
}